body {
  margin: 0;
  padding: 0;
  font-family: "Plus Jakarta Sans", sans-serif;
  overflow: hidden;
}

#container {
  width: 100vw;
  height: 100vh;
}

#container,
#sidebar {
  height: 100vh;
  overflow: hidden;
  float: left;
  transition: width 0.35s;
}

#sidebar {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  background-color: #f7f7f7;
  width: 20rem;
  transition: width 0.35s;
}

#sidebar.collapsed {
  width: 0;
}

.container canvas {
  position: absolute;
}

.container button {
  position: absolute;
}

button {
  width: 30px;
  height: 30px;
  background-color: transparent;
  cursor: pointer;
  border-radius: 50%;
  border: 0;
  outline: 0;
  margin: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

button .material-icons {
  font-size: 28px;
  color: #333;
}

.material-icons:hover {
  color: dodgerblue;
  transition: 0.25s;
}

#closer {
  float: left;
}
